In [2]:
import pandas as pd

#data open using pandas type Dataframe
df_standard = pd.read_csv ('fd_origin.csv', encoding = 'cp949')
df_to_add = pd.read_csv ('fd_2018_5.csv', encoding = 'cp949')

df_samsung_0 = df_standard[df_standard['code']==5930]
df_samsung_1 = df_to_add[df_to_add['code']==5930]

#Extract key value from df_to_add
df_to_add_key = df_samsung_1[['y2017','y2018']]

#df_to_add_listing
df_to_add_list =[]
for i in range(len(df_samsung_1)):
    data_2017 = df_to_add_key.iloc[i,0]
    data_2018 = df_to_add_key.iloc[i,1]
    df_to_add_list.append([data_2017,data_2018])

#df_standard_listing
df_standard_list = []
for i in range(len(df_samsung_0)):
    index_data_2017 = df_samsung_0.iloc[i,7]
    df_standard_list.append(index_data_2017)

#merge data
for i in range(len(df_standard_list)):
    for j in range(len(df_to_add_list)):
        index_data = df_standard_list[i]
        if index_data == df_to_add_list[j][0] : df_standard_list[i] = [index_data, df_to_add_list[j][1]]
for i in range(len(df_standard_list)):
    non_data = df_standard_list[i]
    if type(df_standard_list[i]) != list : df_standard_list[i] = [non_data,0]

# setting with copy warning
dfDummy = df_samsung_0.copy()

# merge data using df_standard
for i in range(len(df_samsung_0)):
    origin_index = df_samsung_0.iloc[i,7]
    refer_index = df_samsung_0.iloc[i,8]
    for j in range(len(df_standard_list)):
        match_index = df_standard_list[j][0]
        new_index = df_standard_list[j][1]
        if origin_index == match_index and df_samsung_0.iloc[i,4] != 'SCF':  dfDummy.iloc[i,8] = new_index
        elif origin_index == match_index and df_samsung_0.iloc[i,4] == 'SCF':  dfDummy.iloc[i,8] = refer_index

dfDummy
#print(type(dfDummy))

,code,code_a,company,market,kind,item,item_name,y2017,y2018
0,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901001,총자산(천원),"301,752,090,000","339,357,244,000,000"
1,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901101,총자산(평균)(천원),"281,963,207,000",0
2,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901002,유동자산(천원),"146,982,464,000","174,697,424,000,000"
3,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901005,당좌자산(천원),"121,999,109,000",0
4,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901030,현금및현금성자산(천원),"30,545,130,000","30,340,505,000,000"
...,...,...,...,...,...,...,...,...,...
434,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000501001,부가가치(천원),NaN,NaN
435,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000502001,자본생산성(%),NaN,NaN
436,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000503001,노동생산성(천원),NaN,NaN
437,5930,A005930,삼성전자,KS,SCF,S430000200,종가 (보통)(원),"2,548,000","2,568,000"
438,5930,A005930,삼성전자,KS,SCF,S430002205,수정평균발행주식수 (보통+우선)(주),"137,994,103","135,052,727"

In [3]:
df_samsung_0

,code,code_a,company,market,kind,item,item_name,y2017,y2018
0,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901001,총자산(천원),"301,752,090,000",NaN
1,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901101,총자산(평균)(천원),"281,963,207,000",NaN
2,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901002,유동자산(천원),"146,982,464,000",NaN
3,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901005,당좌자산(천원),"121,999,109,000",NaN
4,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901030,현금및현금성자산(천원),"30,545,130,000",NaN
...,...,...,...,...,...,...,...,...,...
434,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000501001,부가가치(천원),NaN,NaN
435,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000502001,자본생산성(%),NaN,NaN
436,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000503001,노동생산성(천원),NaN,NaN
437,5930,A005930,삼성전자,KS,SCF,S430000200,종가 (보통)(원),"2,548,000","2,568,000"
438,5930,A005930,삼성전자,KS,SCF,S430002205,수정평균발행주식수 (보통+우선)(주),"137,994,103","135,052,727"