In [217]:
import pandas as pd
df_origin = pd.read_csv ('fd_origin.csv', encoding = 'cp949')
df_origin
df_samsung_0 = df_origin[df_origin['code']==5930]
df_samsung_0
df_samsung_11 = df_samsung_0[df_samsung_0['y2017']=='24,983,355,000']
df_samsung_0.columns = ['code', 'code_a', 'company','market','kind', 'item','item_name','y2017','y2018']
#df_bus_line_0 = df_bus_line[['노선번호','버스정류장ARS번호']]
#df_bus_line_0.columns=['노선번호','정류소번호']
#df_samsung_11
df_samsung_0

,code,code_a,company,market,kind,item,item_name,y2017,y2018
0,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901001,총자산(천원),"301,752,090,000",NaN
1,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901101,총자산(평균)(천원),"281,963,207,000",NaN
2,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901002,유동자산(천원),"146,982,464,000",NaN
3,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901005,당좌자산(천원),"121,999,109,000",NaN
4,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901030,현금및현금성자산(천원),"30,545,130,000",NaN
...,...,...,...,...,...,...,...,...,...
434,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000501001,부가가치(천원),NaN,NaN
435,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000502001,자본생산성(%),NaN,NaN
436,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000503001,노동생산성(천원),NaN,NaN
437,5930,A005930,삼성전자,KS,SCF,S430000200,종가 (보통)(원),"2,548,000","2,568,000"
438,5930,A005930,삼성전자,KS,SCF,S430002205,수정평균발행주식수 (보통+우선)(주),"137,994,103","135,052,727"

In [315]:
import pandas as pd
df_2018 = pd.read_csv ('fd_2018_5.csv', encoding = 'cp949')
df_2018
df_samsung_1 = df_2018[df_2018['code']==5930]
df_samsung_1
df_samsung_12 = df_samsung_1[df_samsung_1['y2017'] == "24,983,355,000"]
df_samsung_1
df_samsung_0

,code,code_a,company,market,kind,item,item_name,y2017,y2018,y2018_raw
0,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901001,총자산(천원),"301,752,090,000",NaN,
1,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901101,총자산(평균)(천원),"281,963,207,000",NaN,
2,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901002,유동자산(천원),"146,982,464,000",NaN,
3,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901005,당좌자산(천원),"121,999,109,000",NaN,
4,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901030,현금및현금성자산(천원),"30,545,130,000",NaN,
...,...,...,...,...,...,...,...,...,...,...
434,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000501001,부가가치(천원),NaN,NaN,
435,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000502001,자본생산성(%),NaN,NaN,
436,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000503001,노동생산성(천원),NaN,NaN,
437,5930,A005930,삼성전자,KS,SCF,S430000200,종가 (보통)(원),"2,548,000","2,568,000",
438,5930,A005930,삼성전자,KS,SCF,S430002205,수정평균발행주식수 (보통+우선)(주),"137,994,103","135,052,727",

In [314]:
df_samsung_1
df_samsung_2 = df_samsung_1[['y2017','y2018']]
df_samsung_2
#df_merge=pd.merge(left=df_samsung_0, right = df_samsung_2, how ="left", on = 'y2017')
#df_merge
df_samsung_2
df_1 =[]
for i in range(len(df_samsung_2)):
    data_2017 = df_samsung_2.iloc[i,0]
    data_2018 = df_samsung_2.iloc[i,1]
    df_1.append([data_2017,data_2018])
df_1

df_2 = []
for i in range(len(df_samsung_0)):
    index_data_2017 = df_samsung_0.iloc[i,7]
    df_2.append(index_data_2017)
df_2


for i in range(len(df_2)):
    for j in range(len(df_1)):
        index_data = df_2[i]
        if index_data == df_1[j][0] : df_2[i] = [index_data, df_1[j][1]]
df_2        
df_samsung_0

,code,code_a,company,market,kind,item,item_name,y2017,y2018,y2018_raw
0,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901001,총자산(천원),"301,752,090,000",NaN,
1,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901101,총자산(평균)(천원),"281,963,207,000",NaN,
2,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901002,유동자산(천원),"146,982,464,000",NaN,
3,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901005,당좌자산(천원),"121,999,109,000",NaN,
4,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901030,현금및현금성자산(천원),"30,545,130,000",NaN,
...,...,...,...,...,...,...,...,...,...,...
434,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000501001,부가가치(천원),NaN,NaN,
435,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000502001,자본생산성(%),NaN,NaN,
436,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000503001,노동생산성(천원),NaN,NaN,
437,5930,A005930,삼성전자,KS,SCF,S430000200,종가 (보통)(원),"2,548,000","2,568,000",
438,5930,A005930,삼성전자,KS,SCF,S430002205,수정평균발행주식수 (보통+우선)(주),"137,994,103","135,052,727",

In [313]:
df_samsung_0

,code,code_a,company,market,kind,item,item_name,y2017,y2018,y2018_raw
0,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901001,총자산(천원),"301,752,090,000",NaN,
1,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901101,총자산(평균)(천원),"281,963,207,000",NaN,
2,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901002,유동자산(천원),"146,982,464,000",NaN,
3,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901005,당좌자산(천원),"121,999,109,000",NaN,
4,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901030,현금및현금성자산(천원),"30,545,130,000",NaN,
...,...,...,...,...,...,...,...,...,...,...
434,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000501001,부가가치(천원),NaN,NaN,
435,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000502001,자본생산성(%),NaN,NaN,
436,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000503001,노동생산성(천원),NaN,NaN,
437,5930,A005930,삼성전자,KS,SCF,S430000200,종가 (보통)(원),"2,548,000","2,568,000",
438,5930,A005930,삼성전자,KS,SCF,S430002205,수정평균발행주식수 (보통+우선)(주),"137,994,103","135,052,727",

,code,code_a,company,market,kind,item,item_name,y2017,y2018
0,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901001,총자산(천원),"301,752,090,000",NaN
1,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901101,총자산(평균)(천원),"281,963,207,000",NaN
2,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901002,유동자산(천원),"146,982,464,000",NaN
3,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901005,당좌자산(천원),"121,999,109,000",NaN
4,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901030,현금및현금성자산(천원),"30,545,130,000",NaN
...,...,...,...,...,...,...,...,...,...
434,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000501001,부가가치(천원),NaN,NaN
435,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000502001,자본생산성(%),NaN,NaN
436,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000503001,노동생산성(천원),NaN,NaN
437,5930,A005930,삼성전자,KS,SCF,S430000200,종가 (보통)(원),"2,548,000","2,568,000"
438,5930,A005930,삼성전자,KS,SCF,S430002205,수정평균발행주식수 (보통+우선)(주),"137,994,103","135,052,727"