In [29]:
import pandas as pd
df_origin = pd.read_csv ('fd_origin.csv', encoding = 'cp949')
df_origin
df_samsung_0 = df_origin[df_origin['code']==5930]
df_samsung_0
df_samsung_11 = df_samsung_0[df_samsung_0['y2017']=='24,983,355,000']
df_samsung_0

,code,code_a,company,market,kind,item,item_name,y2017,y2018
0,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901001,총자산(천원),"301,752,090,000",NaN
1,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901101,총자산(평균)(천원),"281,963,207,000",NaN
2,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901002,유동자산(천원),"146,982,464,000",NaN
3,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901005,당좌자산(천원),"121,999,109,000",NaN
4,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901030,현금및현금성자산(천원),"30,545,130,000",NaN
...,...,...,...,...,...,...,...,...,...
434,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000501001,부가가치(천원),NaN,NaN
435,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000502001,자본생산성(%),NaN,NaN
436,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000503001,노동생산성(천원),NaN,NaN
437,5930,A005930,삼성전자,KS,SCF,S430000200,종가 (보통)(원),"2,548,000","2,568,000"
438,5930,A005930,삼성전자,KS,SCF,S430002205,수정평균발행주식수 (보통+우선)(주),"137,994,103","135,052,727"

In [30]:
import pandas as pd
df_2018 = pd.read_csv ('fd_2018_5.csv', encoding = 'cp949')
df_2018
df_samsung_1 = df_2018[df_2018['code']==5930]
df_samsung_1
df_samsung_12 = df_samsung_1[df_samsung_1['y2017'] == "24,983,355,000"]
df_samsung_1

,code,code_a,company,item_name,y2018,y2017_raw,y2017
28862,5930,A005930,삼성전자,장기금융상품의 취득,"7,678,654,000,000","1,079,355,000,000","1,079,355,000"
28863,5930,A005930,삼성전자,장기금융상품의 처분,"255,850,000,000","1,750,221,000,000","1,750,221,000"
28864,5930,A005930,삼성전자,재고자산,"28,984,704,000,000","24,983,355,000,000","24,983,355,000"
28865,5930,A005930,삼성전자,선급비용,"4,136,167,000,000","3,835,219,000,000","3,835,219,000"
28866,5930,A005930,삼성전자,선급금,"1,361,807,000,000","1,753,673,000,000","1,753,673,000"
...,...,...,...,...,...,...,...
28999,5930,A005930,삼성전자,순확정급여부채,"504,064,000,000","389,922,000,000","389,922,000"
29000,5930,A005930,삼성전자,이연법인세부채,"15,162,523,000,000","11,710,781,000,000","11,710,781,000"
29001,5930,A005930,삼성전자,당기손익-공정가치금융자산,"775,427,000,000",NaN,NaN
29002,5930,A005930,삼성전자,장기충당부채,"663,619,000,000","464,324,000,000","464,324,000"
29003,5930,A005930,삼성전자,기타비유동부채,"1,951,251,000,000","2,708,985,000,000","2,708,985,000"

In [63]:
df_samsung_1
df_samsung_2 = df_samsung_1[['y2017','y2018']]
df_samsung_2
#df_merge=pd.merge(left=df_samsung_0, right = df_samsung_2, how ="left", on = 'y2017')
#df_merge
df_samsung_2
df_1 =[]
for i in range(len(df_samsung_2)):
    data_2017 = df_samsung_2.iloc[i,0]
    data_2018 = df_samsung_2.iloc[i,1]
    df_1.append([data_2017,data_2018])
df_1

df_2 = []
for i in range(len(df_samsung_0)):
    index_data_2017 = df_samsung_0.iloc[i,7]
    df_2.append(index_data_2017)


for i in range(len(df_2)):
    for j in range(len(df_1)):
        index_data = df_2[i]
        if index_data == df_1[j][0] : df_2[i] = [index_data, df_1[j][1]]
for i in range(len(df_2)):
    non_data = df_2[i]
    if type(df_2[i]) != list : df_2[i] = [non_data,0]

        
df_samsung_0

,code,code_a,company,market,kind,item,item_name,y2017,y2018
0,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901001,총자산(천원),"301,752,090,000","339,357,244,000,000"
1,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901101,총자산(평균)(천원),"281,963,207,000",0
2,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901002,유동자산(천원),"146,982,464,000","174,697,424,000,000"
3,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901005,당좌자산(천원),"121,999,109,000",0
4,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901030,현금및현금성자산(천원),"30,545,130,000","30,340,505,000,000"
...,...,...,...,...,...,...,...,...,...
434,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000501001,부가가치(천원),NaN,NaN
435,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000502001,자본생산성(%),NaN,NaN
436,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000503001,노동생산성(천원),NaN,NaN
437,5930,A005930,삼성전자,KS,SCF,S430000200,종가 (보통)(원),"2,548,000",0
438,5930,A005930,삼성전자,KS,SCF,S430002205,수정평균발행주식수 (보통+우선)(주),"137,994,103",0

In [54]:
df_samsung_0

,code,code_a,company,market,kind,item,item_name,y2017,y2018
0,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901001,총자산(천원),"301,752,090,000","339,357,244,000,000"
1,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901101,총자산(평균)(천원),"281,963,207,000",0
2,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901002,유동자산(천원),"146,982,464,000","174,697,424,000,000"
3,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901005,당좌자산(천원),"121,999,109,000",0
4,5930,A005930,삼성전자,KS,NFS-IFRS(C),6000901030,현금및현금성자산(천원),"30,545,130,000","30,340,505,000,000"
...,...,...,...,...,...,...,...,...,...
434,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000501001,부가가치(천원),NaN,NaN
435,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000502001,자본생산성(%),NaN,NaN
436,5930,A005930,삼성전자,KS,NF/R-IFRS(C),6000503001,노동생산성(천원),NaN,NaN
437,5930,A005930,삼성전자,KS,SCF,S430000200,종가 (보통)(원),"2,548,000",0
438,5930,A005930,삼성전자,KS,SCF,S430002205,수정평균발행주식수 (보통+우선)(주),"137,994,103",0

In [33]:
df_2

[['301,752,090,000', '339,357,244,000,000'],
 ['281,963,207,000', 0],
 ['146,982,464,000', '174,697,424,000,000'],
 ['121,999,109,000', 0],
 ['30,545,130,000', '30,340,505,000,000'],
 ['52,639,071,000', 0],
 ['49,447,696,000', '65,893,797,000,000'],
 ['3,191,375,000', nan],
 ['0', '-235,865,000,000'],
 ['31,804,956,000', 0],
 ['27,695,995,000', '33,867,733,000,000'],
 ['0', '-235,865,000,000'],
 ['24,983,355,000', '28,984,704,000,000'],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['154,769,626,000', '164,659,820,000,000'],
 ['7,858,931,000', 0],
 ['0', '-235,865,000,000'],
 ['7,752,180,000', nan],
 ['106,751,000', nan],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['6,802,351,000', '7,313,206,000,000'],
 ['0', '-235,865,000,000'],
 ['6,802,351,000', '7,313,206,000,000'],
 ['111,665,648,000', '115,416,724,000,000'],
 ['9,409,276,000', 0],
 ['85,973,954,000', 0],
 ['2,371,669,000', 0],
 ['13,910,749,000', 0],
 ['14,760,483,000', '14,891,598,000,000'],
 ['5,703,138,000', 0],
 ['222,969,000', 0],
 ['830,384,000', 0],
 ['4,134,455,000', 0],
 ['0', '-235,865,000,000'],
 ['2,120,881,000', 0],
 ['5,061,687,000', '5,468,002,000,000'],
 ['0', '-235,865,000,000'],
 ['83,184,201,000', 0],
 ['60,498,002,000', 0],
 ['11,050,306,000', 0],
 ['301,752,090,000', '339,357,244,000,000'],
 ['87,260,662,000', '91,604,067,000,000'],
 ['78,235,976,500', 0],
 ['67,175,114,000', '69,081,510,000,000'],
 ['37,773,395,000', 0],
 ['9,083,907,000', '8,479,916,000,000'],
 ['0', '-235,865,000,000'],
 ['16,046,238,000', 0],
 ['0', '-235,865,000,000'],
 ['15,767,619,000', '13,586,660,000,000'],
 ['278,619,000', '33,386,000,000'],
 ['4,294,820,000', '4,384,038,000,000'],
 ['7,408,348,000', '8,720,050,000,000'],
 ['0', '-235,865,000,000'],
 ['20,085,548,000', '22,522,557,000,000'],
 ['2,767,807,000', 0],
 ['953,361,000', '961,972,000,000'],
 ['953,361,000', '961,972,000,000'],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['1,756,908,000', 0],
 ['57,538,000', 0],
 ['2,043,729,000', '3,194,043,000,000'],
 ['389,922,000', '504,064,000,000'],
 ['464,324,000', '663,619,000,000'],
 ['11,710,781,000', '15,162,523,000,000'],
 ['0', '-235,865,000,000'],
 ['18,814,045,000', 0],
 ['18,814,045,000', 0],
 ['15,767,619,000', '13,586,660,000,000'],
 ['2,767,807,000', 0],
 ['-64,370,156,000', 0],
 ['958,562,000', 0],
 ['68,463,000', 0],
 ['214,491,428,000', '247,753,177,000,000'],
 ['203,727,230,500', 0],
 ['207,213,416,000', '240,068,993,000,000'],
 ['196,818,872,000', 0],
 ['213,441,603,000', 0],
 ['897,514,000', '897,514,000,000'],
 ['778,047,000', '778,047,000,000'],
 ['119,467,000', '119,467,000,000'],
 ['897,514,000', '897,514,000,000'],
 ['0', '-235,865,000,000'],
 ['4,403,893,000', '4,403,893,000,000'],
 ['4,403,893,000', '4,403,893,000,000'],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['-6,222,151,000', 0],
 ['-6,228,187,000', 0],
 ['0', '-235,865,000,000'],
 ['215,811,200,000', '242,698,956,000,000'],
 ['-7,677,040,000', 0],
 ['0', '-235,865,000,000'],
 ['1,879,774,000', 0],
 ['40,394,000', 0],
 ['-9,192,002,000', 0],
 ['0', '-235,865,000,000'],
 ['7,278,012,000', '7,684,184,000,000'],
 ['212,544,089,000', 0],
 ['197,747,620,333', 0],
 ['239,575,376,000', '243,771,415,000,000'],
 ['214,031,867,667', 0],
 ['239,575,376,000', '243,771,415,000,000'],
 [nan, 0],
 ['129,290,661,000', '132,394,411,000,000'],
 ['110,284,715,000', '111,377,004,000,000'],
 ['56,639,677,000', '52,490,335,000,000'],
 ['6,797,163,000', 0],
 ['6,540,715,000', 0],
 ['256,448,000', 0],
 ['0', '-235,865,000,000'],
 ['1,336,620,000', 0],
 ['948,393,000', 0],
 ['388,227,000', 0],
 ['16,355,612,000', 0],
 ['5,350,839,000', 0],
 ['13,916,454,000', 0],
 ['0', '-235,865,000,000'],
 ['7,703,111,000', 0],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['53,645,038,000', '58,886,669,000,000'],
 ['36,433,050,667', 0],
 ['53,645,038,000', '58,886,669,000,000'],
 [nan, 0],
 ['53,645,038,000', '58,886,669,000,000'],
 [nan, 0],
 ['2,550,929,000', 0],
 ['758,478,000', 0],
 ['201,442,000', '539,845,000,000'],
 ['1,591,009,000', 0],
 ['9,423,000', 0],
 ['0', '-235,865,000,000'],
 ['12,949,490,000', 0],
 ['9,737,391,000', '9,999,321,000,000'],
 ['201,442,000', '539,845,000,000'],
 ['3,010,657,000', '1,485,037,000,000'],
 ['1,614,223,000', 0],
 ['128,946,000', 0],
 ['7,278,888,000', 0],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['10,398,561,000', 0],
 ['8,978,913,000', '8,608,896,000,000'],
 ['0', '-235,865,000,000'],
 ['1,419,648,000', '1,142,018,000,000'],
 ['655,402,000', 0],
 ['-958,821,000', 0],
 ['7,269,465,000', 0],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['56,195,967,000', '61,159,958,000,000'],
 ['37,623,538,000', 0],
 ['56,195,967,000', '61,159,958,000,000'],
 [nan, 0],
 ['14,009,220,000', '16,815,101,000,000'],
 ['42,186,747,000', '44,344,857,000,000'],
 [nan, 0],
 ['0', '-235,865,000,000'],
 [nan, 0],
 ['42,186,747,000', '44,344,857,000,000'],
 ['27,990,994,333', 0],
 ['42,186,747,000', '44,344,857,000,000'],
 [nan, 0],
 ['41,344,569,000', '43,890,877,000,000'],
 ['27,484,950,667', 0],
 ['41,344,569,000', '43,890,877,000,000'],
 [nan, 0],
 ['842,178,000', '453,980,000,000'],
 ['-5,502,257,000', '-12,242,000,000'],
 ['36,684,490,000', '44,332,615,000,000'],
 ['35,887,505,000', '43,882,473,000,000'],
 ['796,985,000', '450,142,000,000'],
 [nan, 0],
 ['239,575,376,000', '243,771,415,000,000'],
 ['214,031,867,667', 0],
 ['239,575,376,000', '243,771,415,000,000'],
 [nan, 0],
 ['185,930,338,000', 0],
 ['62,162,041,000', '67,031,863,000,000'],
 [nan, 0],
 ['54,773,842,500', 0],
 ['42,186,747,000', '44,344,857,000,000'],
 ['36,211,232,000', '43,604,573,000,000'],
 ['41,476,037,000', 0],
 ['22,117,392,000', 0],
 ['20,593,616,000', 0],
 ['1,523,776,000', 0],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['14,009,220,000', '16,815,101,000,000'],
 ['0', '-235,865,000,000'],
 ['5,264,805,000', 0],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['201,442,000', '539,845,000,000'],
 ['-10,620,547,000', '-9,924,366,000,000'],
 ['-15,783,731,000', 0],
 ['-7,676,175,000', 0],
 ['-8,444,506,000', 0],
 ['6,111,871,000', 0],
 ['6,394,849,000', 0],
 ['11,894,983,000', 0],
 ['-49,385,216,000', '-52,240,453,000,000'],
 ['4,743,377,000', 0],
 ['54,128,593,000', 0],
 ['-42,483,880,000', 0],
 ['-983,007,000', 0],
 ['42,483,880,000', 0],
 ['983,007,000', 0],
 ['1,284,927,000', 0],
 ['887,483,000', 0],
 ['397,444,000', 0],
 ['-7,203,256,000', 0],
 ['-12,560,867,000', '-15,090,222,000,000'],
 ['3,734,657,000', 0],
 ['3,728,987,000', 0],
 ['5,670,000', '8,071,000,000'],
 ['9,491,227,000', 0],
 ['1,140,803,000', '1,986,597,000,000'],
 ['8,350,424,000', '875,111,000,000'],
 ['2,588,184,000', 0],
 ['2,730,676,000', '-2,046,470,000,000'],
 ['-142,492,000', 0],
 ['-8,344,754,000', 0],
 ['0', '-235,865,000,000'],
 ['1,581,117,000', '1,788,520,000,000'],
 ['-542,715,000', 0],
 ['173,305,000', '215,992,000,000'],
 ['-6,804,297,000', 0],
 ['0', '-235,865,000,000'],
 ['-6,827,098,000', 0],
 ['-1,782,270,000', '94,187,000,000'],
 ['0', '-235,865,000,000'],
 ['0', '-235,865,000,000'],
 ['-1,782,270,000', '94,187,000,000'],
 [nan, 0],
 ['-1,566,312,000', '-204,625,000,000'],
 ['32,111,442,000', '30,545,130,000,000'],
 ['30,545,130,000', '30,340,505,000,000'],
 ['63,461,961,000', 0],
 ['63,461,961,000', 0],
 [nan, 0],
 ['62,751,324,445', 0],
 ['62,751,324,445', 0],
 [nan, 0],
 ['28.92', 0],
 ['71.08', 0],
 ['6.23', 0],
 ['10.12', 0],
 ['37.01', 0],
 ['4.89', 0],
 ['40.68', 0],
 ['8.77', 0],
 ['140.68', 0],
 ['3.84', 0],
 ['3.48', 0],
 ['7.85', 0],
 ['0.35', 0],
 ['0.25', 0],
 ['22.51', 0],
 ['31.15', 0],
 ['81.12', 0],
 ['372.25', 0],
 ['26.49', 0],
 ['32.24', 0],
 ['31.88', 0],
 ['23,681.42', 0],
 ['22,032.82', 0],
 ['70.44', 0],
 ['18.68', 0],
 [nan, 0],
 ['18.68', 0],
 [nan, 0],
 ['5.13', 0],
 ['3.56', 0],
 [nan, 0],
 [nan, 0],
 ['7.49', 0],
 [nan, 0],
 ['35.17', 0],
 [nan, 0],
 ['8.20', 0],
 [nan, 0],
 ['83.46', 0],
 [nan, 0],
 ['28.94', 0],
 ['13.05', 0],
 [nan, 0],
 [nan, 0],
 ['83.46', 0],
 [nan, 0],
 ['82.97', 0],
 [nan, 0],
 ['26.33', 0],
 ['13.44', 0],
 [nan, 0],
 [nan, 0],
 ['85.63', 0],
 [nan, 0],
 [nan, 0],
 [nan, 0],
 [nan, 0],
 [nan, 0],
 [nan, 0],
 [nan, 0],
 ['85.63', 0],
 [nan, 0],
 ['21.72', 0],
 ['12.09', 0],
 [nan, 0],
 [nan, 0],
 ['84.45', 0],
 [nan, 0],
 ['21.44', 0],
 ['12.26', 0],
 [nan, 0],
 [nan, 0],
 ['48.42', 0],
 [nan, 0],
 ['47.62', 0],
 [nan, 0],
 ['51.67', 0],
 [nan, 0],
 ['20.71', 0],
 ['11.14', 0],
 [nan, 0],
 [nan, 0],
 ['15.10', 0],
 [nan, 0],
 ['9.41', 0],
 ['22.07', 0],
 ['176.21', 0],
 ['26.08', 0],
 [nan, 0],
 ['11.87', 0],
 ['23.11', 0],
 ['11.16', 0],
 [nan, 0],
 ['8.47', 0],
 ['11.15', 0],
 [nan, 0],
 ['8.51', 0],
 ['0.00', 0],
 [nan, 0],
 ['0.00', 0],
 ['98.20', 0],
 [nan, 0],
 ['25.95', 0],
 ['14.74', 0],
 ['99.48', 0],
 [nan, 0],
 ['98.46', 0],
 [nan, 0],
 ['19.02', 0],
 [nan, 0],
 ['13.90', 0],
 [nan, 0],
 ['58.12', 0],
 [nan, 0],
 ['57.59', 0],
 [nan, 0],
 ['27.53', 0],
 [nan, 0],
 ['62.98', 0],
 [nan, 0],
 ['25.18', 0],
 ['13.60', 0],
 ['49.12', 0],
 [nan, 0],
 ['49.12', 0],
 [nan, 0],
 ['28.56', 0],
 ['49.12', 0],
 [nan, 0],
 ['46.03', 0],
 ['22.39', 0],
 ['17.02', 0],
 [nan, 0],
 ['22.39', 0],
 ['31.62', 0],
 ['26.95', 0],
 [nan, 0],
 ['23.46', 0],
 ['17.58', 0],
 ['17.61', 0],
 ['17.61', 0],
 ['13.08', 0],
 [nan, 0],
 ['17.26', 0],
 ['12.84', 0],
 [nan, 0],
 ['15.31', 0],
 ['14.98', 0],
 ['77.07', 0],
 ['73.57', 0],
 ['53.97', 0],
 ['23.64', 0],
 ['128.85', 0],
 ['19.03', 0],
 ['14.06', 0],
 [nan, 0],
 ['19.93', 0],
 ['14.96', 0],
 ['10.80', 0],
 ['13.01', 0],
 ['26.33', 0],
 ['19.31', 0],
 [nan, 0],
 ['27.58', 0],
 ['20.71', 0],
 ['14.84', 0],
 [nan, 0],
 ['21.01', 0],
 ['15.09', 0],
 [nan, 0],
 ['19.95', 0],
 ['5,977.07', 0],
 ['6,261.29', 0],
 ['4,606.57', 0],
 ['0.85', 0],
 ['0.83', 0],
 ['3.06', 0],
 ['1.18', 0],
 ['266.93', 0],
 [nan, 0],
 [nan, 0],
 [nan, 0],
 ['2,548,000', 0],
 ['137,994,103', 0]]

In [ ]:
'''
for i in range(len(df_samsung_0)):
    origin_index = df_samsung_0.iloc[i,7]
    refer_index = df_samsung_0.iloc[i,8]
    for j in range(len(df_2)):
        match_index = df_2[j][0]
        new_index = df_2[j][1]
        if origin_index == match_index and refer_index != 0 : df_samsung_0.iloc[i,8] = refer_index
        elif origin_index == match_index : df_samsung_0.iloc[i,8] = new_index

'''